json/4pkV8lwkM827DDDJ.json
{
  "active": false,
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Format All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Insert Sheets Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Get Commits From Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Get GitHub PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily at 7PM": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Get Today's Emails",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Today's Calendar Events",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Sheet If It Doesn't Exist",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitHub PRs": {
      "main": [
        [
          {
            "node": "If it's created today",
            "type": "main",
            "index": 0
          },
          {
            "node": "If it's closed today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format All Data": {
      "main": [
        [
          {
            "node": "Generate Journal Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Authors Commit": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Emails": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If it didn't exist": {
      "main": [
        [
          {
            "node": "Init Sheet Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Sheet Headers": {
      "main": [
        [
          {
            "node": "init Sheet Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If it's closed today": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If it's created today": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commits From Github": {
      "main": [
        [
          {
            "node": "If Authors Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Journal Summary": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Calendar Events": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sheet If It Doesn't Exist": {
      "main": [
        [
          {
            "node": "If it didn't exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-25T04:29:56.010Z",
  "id": "4pkV8lwkM827DDDJ",
  "isArchived": true,
  "meta": null,
  "name": "Lên lịch",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{$today.minus(1).startOf('day').toISO()}}",
          "timeMax": "={{$today.minus(1).endOf('day').toISO()}}"
        }
      },
      "id": "f1f218d1-8d0d-432d-9dfe-d4d5d70164a9",
      "name": "Get Today's Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        288,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "receivedAfter": "={{ $now.minus(1).startOf('day').toISO() }}",
          "sender": "={{ $json.myEmail }}"
        }
      },
      "id": "5e206eab-3db6-46bb-96c5-a5579f8d8c8a",
      "name": "Get Today's Emails",
      "type": "n8n-nodes-base.gmail",
      "position": [
        288,
        240
      ],
      "webhookId": "0611a0b0-9e31-497f-98a9-7609c2287db1",
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "getPullRequests",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Variables').item.json.github_handle }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repositoriesToTrack }}"
        },
        "returnAll": true,
        "getRepositoryPullRequestsFilters": {}
      },
      "id": "08ac9bd8-7a31-41b8-aed6-c007bb66fd6c",
      "name": "Get GitHub PRs",
      "type": "n8n-nodes-base.github",
      "position": [
        192,
        1152
      ],
      "webhookId": "0ec33ec2-fbb5-4b63-afd2-7227a8dba1c4",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Get all data from different sources\nconst allInputs = $input.all();\nconst calendarEvents = allInputs.find(b => b.json.calendarEvents)?.json.calendarEvents || [];\nconst emails = allInputs.find(b => b.json.emails)?.json.emails || [];\nconst commits = allInputs.find(b => b.json.commits)?.json.commits || [];\nconst prs = allInputs.find(b => b.json.prs)?.json.prs || [];\n\n// Format calendar events\nconst confirmed = calendarEvents.filter(e => e.status === 'confirmed');\n\nconst calendarSummary = confirmed.map(event => ({\n  time: event.start?.dateTime || 'No time',\n  title: event.summary || 'No title',\n  attendees: event.attendees?.length || 0,\n  description: event.description || 'No description',\n  duration: DateTime.fromISO(event.end.dateTime).diff(DateTime.fromISO(event.start.dateTime), 'hours').hours\n}));\n\n// Format emails (filter out unimportant ones)\nconst importantEmails = emails\n  .filter(email => \n    email.From && \n    !email.From.toLowerCase().includes('noreply') && \n    !email.Subject?.toLowerCase().includes('newsletter')\n  )\n  .slice(0, 20)\n  .map(email => ({\n    from: email.From,\n    subject: email.Subject || 'No subject',\n    snippet: email.snippet?.substring(0, 100) || ''\n  }));\n\nconst commitArray = Array.isArray(commits) ? commits : [commits];\nconst prsArray = Array.isArray(prs) ? prs : [prs];\n// Format GitHub activity\nconst githubActivity = {\n  commits: commitArray.map(commit => ({\n    message: commit.commit?.message || 'No message'\n  })) || [],\n  pullRequests: prsArray.map(pr => ({\n    title: pr.title,\n    repo: pr.head.repo?.name || 'Unknown repo',\n    state: pr.state\n  })) || []\n};\n\n// Create summary object\nconst summary = {\n  date: $('Set Variables').first().json.today,\n  calendar: {\n    totalEvents: calendarSummary.length,\n    events: calendarSummary\n  },\n  emails: {\n    totalReceived: emails.length,\n    important: importantEmails\n  },\n  github: githubActivity\n};\n\nreturn [{ json: summary }];"
      },
      "id": "6ed7e3f8-2242-47a6-9a17-d2c3f99c581a",
      "name": "Format All Data",
      "type": "n8n-nodes-base.code",
      "position": [
        1184,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a professional timesheet creator.\n\nINPUT you receive: a single JSON object that contains:\n  • calendar.events          (array)\n  • emails.important         (array)\n  • github.commits           (array)\n  • github.pullRequests      (array)\n\nTASK\n1. Walk through every element in those arrays.\n2. For each element create an object that has **exactly**:\n     - \"type\"        : CALENDAR_EVENT | EMAIL | COMMIT | PR\n     - \"description\" : ≤120 chars, no commas, no line-breaks\n3. Put all objects in one JSON **array**.\n4. RETURN  that array. No wrapper object, no markdown. Try to create a nice description for each event",
              "role": "system"
            },
            {
              "content": "=Below is today’s raw data in one JSON object.\n\n{{ JSON.stringify($json, null, 2) }}\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "6a96d5c4-27c6-42b4-ac56-926c0b33589d",
      "name": "Generate Journal Summary",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1408,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "emails",
        "options": {}
      },
      "id": "0bcb59ae-3a32-44b2-9568-117b248edf78",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        576,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "a283657a-ed80-4b58-a778-0f4a7193eb23",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        976,
        688
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "calendarEvents",
        "options": {}
      },
      "id": "9ba5f3eb-e196-4c2b-b1d1-ce5b6f4606c9",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        576,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "prs",
        "options": {}
      },
      "id": "762bb491-84d1-4055-aff6-a59a43344e5d",
      "name": "Aggregate2",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        672,
        1168
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "7a0f2fa0-80e4-405d-be25-693ad32b6f75",
      "name": "Daily at 7PM",
      "type": "n8n-nodes-base.cron",
      "position": [
        -400,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fa5acaa-f81f-4ecc-88cb-ac8b56324cf5",
              "name": "today_date",
              "type": "string",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "id": "390ed3dd-2205-49eb-8b06-69d3affe98bd",
              "name": "github_handle",
              "type": "string",
              "value": "luka-zivkovic"
            },
            {
              "id": "841cc4c8-f47d-4eea-8f23-62e5e7f0f0dc",
              "name": "repositoriesToTrack",
              "type": "array",
              "value": "={{ ['techPoweredGrowth', 'tech-learn'] }}"
            },
            {
              "id": "df6011d8-70b8-4942-ad38-385d6c459c84",
              "name": "myEmail",
              "type": "string",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "3bbae0c3-37c3-44b2-a0ee-4c4661fe3aa5",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -144,
        608
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "commits",
        "options": {}
      },
      "id": "12d0f206-c4aa-4164-a009-d1f191b872aa",
      "name": "Aggregate3",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        688,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "46c73ee1-9ff2-4318-bad4-5e8cdb3703ff",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.author.login }}",
              "rightValue": "={{ $('Set Variables').item.json.github_handle }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1e794906-2e34-4a62-a7e7-b971d927ef4d",
      "name": "If Authors Commit",
      "type": "n8n-nodes-base.if",
      "position": [
        464,
        816
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "204dc12c-e6ec-472a-b84b-d88afb571e93",
              "operator": {
                "type": "dateTime",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.closed_at?.toDateTime().format('yyyy-MM-dd') }}",
              "rightValue": ""
            },
            {
              "id": "4495a061-a8cd-42e7-81fb-bef628667058",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.closed_at?.toDateTime().format('yyyy-MM-dd') }}",
              "rightValue": "={{ $('Set Variables').item.json.today_date }}"
            }
          ]
        },
        "options": {}
      },
      "id": "af79d6b3-8aaf-4c4a-b859-7b082b973d90",
      "name": "If it's closed today",
      "type": "n8n-nodes-base.if",
      "position": [
        384,
        1296
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "46c73ee1-9ff2-4318-bad4-5e8cdb3703ff",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              },
              "leftValue": "={{ $json.created_at.toDateTime().format('yyyy-MM-dd') }}",
              "rightValue": "={{ $('Set Variables').item.json.today_date }}"
            },
            {
              "id": "13335ba1-acc1-4f12-8654-326d09553187",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.user.login }}",
              "rightValue": "={{ $('Set Variables').item.json.github_handle }}"
            }
          ]
        },
        "options": {}
      },
      "id": "928542cd-af85-4d73-b3c5-665f8efd88d3",
      "name": "If it's created today",
      "type": "n8n-nodes-base.if",
      "position": [
        384,
        1040
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.events",
        "options": {}
      },
      "id": "f49ded8b-3ee9-40fe-a84c-6bbb1d8c6253",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1792,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📊 Daily Activity Tracker Workflow\n\n**Overview:** This workflow automatically collects your daily activities from multiple sources and creates a comprehensive timesheet in Google Sheets.\n\n**Key Features:**\n- 📧 Tracks important emails (filters out newsletters & no-reply)\n- 📅 Logs calendar events with duration and attendees\n- 💻 Records GitHub commits and pull requests\n- 🤖 Uses AI to generate concise activity descriptions\n- 📝 Auto-creates monthly sheets and organizes entries\n\n**Configuration:** Update the **Set Variables** node with your:\n- GitHub username\n- Email address\n- Repository names to track",
        "height": 380,
        "width": 640,
        "color": 5
      },
      "id": "bbeac951-5a1f-41a4-87a8-d7acfc91d0bc",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔄 Data Collection Hub\n\n**Sources:**\n- **Gmail:** Fetches emails from today (filtered by sender)\n- **Google Calendar:** Gets confirmed events from yesterday\n- **GitHub API:** Retrieves commits via custom API call\n- **GitHub Node:** Pulls all PRs from specified repository\n\n**Note:** Calendar events use yesterday's date (`$today.minus(1)`) - adjust if needed for your timezone",
        "height": 280,
        "width": 480,
        "color": 3
      },
      "id": "a945cedf-9312-4116-b2ba-ad03c589a266",
      "name": "Data Collection",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        -112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔍 GitHub Activity Filtering\n\n**Commit Filter:**\n- Only includes commits by the configured user\n- Fetches commits from yesterday (UTC)\n\n**PR Filters:**\n1. **Created Today:** New PRs opened by the user\n2. **Closed Today:** PRs that were merged/closed\n\n**Purpose:** Ensures only relevant GitHub activity is tracked in the timesheet",
        "height": 340,
        "width": 580,
        "color": 6
      },
      "id": "e7cb5174-fbf9-49b7-84ca-47e883574b09",
      "name": "GitHub Filtering",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        1456
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📋 Sheet Management\n\n**Monthly Sheet Creation:**\n- Automatically creates a new sheet for each month\n- Names sheets using month name (e.g., \"January\")\n- Checks if sheet already exists to avoid duplicates\n\n**Header Row Setup:**\n- Creates empty row with Date, Type, Description columns\n- Only runs on first execution of the month",
        "height": 280,
        "width": 420,
        "color": 2
      },
      "id": "5612f092-b666-4bd8-aa16-6a2d94a142bd",
      "name": "Sheet Management",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔀 Data Aggregation\n\n**Purpose:** Combines multiple items into single data objects\n\n**Aggregate Nodes:**\n- **Emails → emails[]**\n- **Calendar Events → calendarEvents[]**\n- **Commits → commits[]**\n- **Pull Requests → prs[]**\n\n**Merge Node:** Combines all aggregated data into one payload for AI processing",
        "height": 320,
        "width": 620,
        "color": 7
      },
      "id": "c6f692f0-96a4-4f43-a212-8996ed2e944b",
      "name": "Data Aggregation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 💾 Final Output\n\n**Google Sheets2 Node:**\n- Appends each activity to the current month's sheet\n- Maps AI-generated data:\n  - **Type:** CALENDAR_EVENT | EMAIL | COMMIT | PR\n  - **Description:** Concise activity summary\n  - **Date:** Today's date (YYYY-MM-DD format)\n\n**Result:** Clean, organized timesheet ready for review!",
        "height": 280,
        "width": 420
      },
      "id": "ef046332-76a3-4755-8a03-dd1b8ec7e6d7",
      "name": "Final Output",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🤖 AI Processing & Summary\n\n**Purpose:** Transform raw activity data into structured timesheet entries\n\n**Process:**\n1. **Format All Data** node consolidates data from all sources\n2. **OpenAI GPT-4o-mini** generates concise descriptions (≤120 chars)\n3. **Split Out** node separates individual events for sheet insertion\n\n**Output:** Clean, categorized entries ready for Google Sheets",
        "height": 280,
        "width": 540,
        "color": 4
      },
      "id": "26fa3cb5-e540-41b2-867d-3fa56203f098",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "repositoriesToTrack",
        "options": {}
      },
      "id": "f8bcad7b-14fd-4431-a097-0b75a7755304",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        128,
        816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Variables').item.json.github_handle }}/{{ $json.repositoriesToTrack }}/commits?since={{ $now.minus(1).startOf('day').toUTC().toISO() }}\n  &until={{ $now.minus(1).endOf('day').toUTC().toISO() }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "63cd5fba-486a-40ab-8c67-4906d879de9d",
      "name": "Get Commits From Github",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        288,
        816
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $now.format('MMMM') }}"
        },
        "columns": {
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Type": "={{ $json.type }}",
            "Description": "={{ $json.description }}"
          },
          "schema": [
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "aa02b780-3813-49f4-a49c-bfd197b76d34",
      "name": "Insert Sheets Entry",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2000,
        720
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "title": "={{ $now.format('MMMM') }}",
        "options": {}
      },
      "id": "db5aeb60-3e38-4b5b-a848-c51a48a70db2",
      "name": "Create Sheet If It Doesn't Exist",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -992,
        1232
      ],
      "typeVersion": 4.6,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b177902a-8b12-4147-afe2-babd21126e4a",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.title }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "62c63ec7-9bfd-4286-92a9-4732fc6539df",
      "name": "If it didn't exist",
      "type": "n8n-nodes-base.if",
      "position": [
        -784,
        1232
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e5a5c68-ec1c-4307-b7ab-4db2d0a510d7",
              "name": "Date",
              "type": "string",
              "value": ""
            },
            {
              "id": "18823857-3297-4349-87df-42c364680f70",
              "name": "Type",
              "type": "string",
              "value": ""
            },
            {
              "id": "1806a29c-c5d8-4e6f-ace9-dc2750b4b88c",
              "name": "Description",
              "type": "string",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "6a20fa6c-39fe-47a6-8910-7ebdb66e51ee",
      "name": "Init Sheet Headers",
      "type": "n8n-nodes-base.set",
      "position": [
        -560,
        1232
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Create Sheet If It Doesn't Exist').item.json.title }}"
        },
        "columns": {
          "value": {},
          "schema": [
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "16f90b16-29c4-4e60-872f-857ccaf576c5",
      "name": "init Sheet Columns",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -336,
        1232
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "fieldToSplitOut": "repositoriesToTrack",
        "options": {}
      },
      "id": "9ce5c8b1-0425-4d6f-aff4-e106e203cafc",
      "name": "Split Out2",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -80,
        1072
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-25T04:29:56.015Z",
      "updatedAt": "2025-08-25T04:29:56.015Z",
      "role": "workflow:owner",
      "workflowId": "4pkV8lwkM827DDDJ",
      "projectId": "1qt5AgXQ1QuSOdsi"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-26T09:03:24.000Z",
  "versionId": "8621feba-46a1-41e0-b56c-026726dfc10d"
}