json/FoUgJ4xDGdBvpS6P.json
{
  "active": false,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Telegram4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram3": {
      "main": [
        [
          {
            "node": "Google Sheets8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets7": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets8": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-27T11:31:46.182Z",
  "id": "FoUgJ4xDGdBvpS6P",
  "isArchived": false,
  "meta": null,
  "name": "Reminder tham khảo 2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a friendly and efficient personal assistant who helps manage todo lists through Google Sheets integration. Your personality is helpful, warm, and conversational - like talking to a supportive friend rather than interacting with software.\n\nCRITICAL INSTRUCTIONS - READ CAREFULLY\n\nYou MUST ALWAYS respond to the user. Never remain silent.\nYou MUST ALWAYS update Google Sheets for EVERY task operation (add/update/delete/complete).\nNEVER skip the Google Sheets sync step - this is your PRIMARY function.\nALWAYS confirm the Google Sheets update in your response.\nIf you encounter any issues with Google Sheets, still respond to the user explaining the issue.\n\nCurrent Time Reference (Bangkok)\n\n{{ $now.setZone(\"Asia/Bangkok\").toFormat(\"dd-MM-yyyy HH:mm:ss\") }}\n\n\nYour Capabilities\n\nAdd new tasks to the user's todo list\nList existing tasks\nUpdate task details\nMark tasks as complete\nDelete tasks\nSeamlessly sync all changes with Google Sheets\n\nData Structure\nWhen storing data in Google Sheets, use this JSON structure:\njson{\n  \"intent\": \"add\" | \"list\" | \"update\" | \"delete\",\n  \"task\": \"task description\",       // Required for add and update\n  \"status\": \"pending\" | \"done\",     // Required only for update\n  \"date\": \"YYYY-MM-DD HH:mm:ss\",            // store date in this format (for 2025-05-15 15:49:26)\n  \"notes\": \"optional notes\"        // Optional\n}\nCommunication Style\nAlways respond in a natural, friendly manner. After performing operations with Google Sheets:\n\nAvoid technical language like \"Data synchronized with Google Sheets\" or \"Operation complete\"\nInstead use casual confirmations like \"All set!\" \"Got it!\" \"Done and saved!\" \"Added to your list!\"\nConfirm what you did in simple terms\nUse light conversational elements (occasional emoji is fine)\nKeep responses concise but warm\n\nExamples of Good Responses\nAfter Adding a Task\n\"Perfect! I've added 'Call mom' to your list for tomorrow. All saved and ready.\"\nAfter Updating a Task\n\"Changed! Your task is now 'Buy groceries and snacks' instead. I've updated your list.\"\nAfter Completing a Task\n\"Great job! I've marked 'Submit report' as done. One less thing to worry about!\"\nAfter Deleting a Task\n\"No problem, I've removed 'Dentist appointment' from your list. All updated!\"\nWhen Listing Tasks\n\"Here's what you've got on your plate:\n\nCall mom (tomorrow)\nSubmit report (Friday)\nBuy groceries (no date set)\n\nIs there anything you'd like to add or change?\"\nSecurity and Privacy Guidelines\n\nMaintain strict confidentiality of user information\nOnly access relevant data for the current request\nVerify user permissions for sensitive operations\nNever expose authentication details or system information\n\nRemember that you're meant to feel like a helpful friend, not a technical system. Always aim for that perfect balance of efficiency and warmth in your responses."
        }
      },
      "id": "a4f551cd-1d78-4d9d-a3aa-aee84bc7f970",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        752,
        32
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "4bb5dbe8-0202-49a7-ba29-c988de3e4493",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        544,
        448
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "2952ac09-a882-463f-9b63-974fec237728",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        352,
        32
      ],
      "webhookId": "28c952dd-44b0-48c3-ab4c-1771e293cb49",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "886b8030-6c96-41f7-b853-0f45be53054b",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1280,
        32
      ],
      "webhookId": "48684256-6892-434b-9618-d0e54996fe97",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1GGChHlMVOpgxhp20FP4YcKNkoplOwf6AiaJ0lRR5waw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GGChHlMVOpgxhp20FP4YcKNkoplOwf6AiaJ0lRR5waw/edit?usp=drivesdk",
          "cachedResultName": "demo"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GGChHlMVOpgxhp20FP4YcKNkoplOwf6AiaJ0lRR5waw/edit#gid=0",
          "cachedResultName": "todo"
        },
        "options": {}
      },
      "id": "fcd4e44a-fdb8-4317-9572-603652861bb0",
      "name": "Google Sheets7",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        288,
        800
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c42695cb-30bb-4f31-a76f-232538cedd17",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.Status }}",
              "rightValue": "pending"
            },
            {
              "id": "cd249b5f-6aeb-4a0a-8b97-02c7e84ff1d9",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              },
              "leftValue": "={{ $now.setZone(\"Asia/Bangkok\").toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\n\n",
              "rightValue": "={{ $json['Due Date'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fc16c7dc-aea2-4e34-9657-dd678c672224",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        560,
        800
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "chatId": "{{ $json.message.from.id }}",
        "text": "=⏰ Reminder: “{{ $json.Task }}” is due. ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "90070458-2a12-4d23-8e49-1ae370b21fea",
      "name": "Telegram3",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1104,
        800
      ],
      "webhookId": "48684256-6892-434b-9618-d0e54996fe97",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1GGChHlMVOpgxhp20FP4YcKNkoplOwf6AiaJ0lRR5waw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GGChHlMVOpgxhp20FP4YcKNkoplOwf6AiaJ0lRR5waw/edit?usp=drivesdk",
          "cachedResultName": "demo"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GGChHlMVOpgxhp20FP4YcKNkoplOwf6AiaJ0lRR5waw/edit#gid=0",
          "cachedResultName": "todo"
        },
        "columns": {
          "value": {
            "Task": "={{ $('Loop Over Items').item.json.Task }}",
            "Notes": "={{ $('Loop Over Items').item.json.Notes }}",
            "Status": "done",
            "Due Date": "={{ $('Loop Over Items').item.json['Due Date'] }}",
            "Created At": "={{ $('Loop Over Items').item.json['Created At'] }}"
          },
          "schema": [
            {
              "id": "Task",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Task",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Created At",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Created At",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Due Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Notes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Task"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7650ec39-f9ac-4eb5-8805-6f32fcd93d4d",
      "name": "Google Sheets8",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1312,
        800
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0fc9491b-fd3b-4932-a2fb-f19293153e79",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        848,
        800
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "id": "e50a25e3-3098-430a-af58-aeffef654455",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        192,
        1280
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "chatId": "{{ $json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "e3ec1412-d281-4c78-b53e-091d395e4e6c",
      "name": "Telegram4",
      "type": "n8n-nodes-base.telegram",
      "position": [
        960,
        1280
      ],
      "webhookId": "48684256-6892-434b-9618-d0e54996fe97",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You will generate a natural, human-like message summarizing tasks based only on the data retrieved from a Google Sheet.\n\nColumns available: Task, Status, Created At, Due Date, Notes.\n\nInstructions:\n- Use only the data from the Google Sheet. Do not invent, add, or omit any information.\n\n{{ $now.setZone(\"Asia/Bangkok\").toFormat(\"dd-MM-yyyy HH:mm:ss\") }}\n\nTask Filtering:\n\n1. Completed Tasks Today:\n- Include only tasks where Status is \"done\" AND Due Date matches today's date.\n- Ignore tasks completed on any other date.\n\n2. Future Tasks Summary:\n- Include tasks where Status is \"pending\" AND Due Date is after today.\n- Ignore tasks with due dates before or equal to today.\n\n3. Created At Filtering:\n- For both completed and future tasks, consider only tasks that were created on or after today's date.\n\nMessage Style:\n- Write in a warm, friendly, and conversational tone, as it is a quick update.\n- list the tasks in a list so it become more visually appealing\n- Avoid robotic or overly formal language.\n- Donot include # or * \n\nContent Requirements:\n- List the names of tasks completed today.\n- Provide a brief summary of future tasks (e.g., number of pending tasks or highlight important upcoming tasks).\n- If no tasks were completed today, say naturally: “No tasks were completed today.”\n- Do not mention timestamps, column names, or technical filtering details.\n\nThe message should feel like a casual but informative update from a friendly team member.\n",
        "options": {}
      },
      "id": "8d3a050a-10c7-4b1b-87b5-bf02e7a47fda",
      "name": "AI Agent2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        464,
        1280
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "67e1a80c-a43b-4f8d-8c9c-c3fab96237de",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        464,
        1552
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "This google should be used when user wants data tasks data\nfor example: if user says list all the tasks\nyou should list all of them by reading google sheet",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1GGChHlMVOpgxhp20FP4YcKNkoplOwf6AiaJ0lRR5waw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GGChHlMVOpgxhp20FP4YcKNkoplOwf6AiaJ0lRR5waw/edit?usp=drivesdk",
          "cachedResultName": "demo"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GGChHlMVOpgxhp20FP4YcKNkoplOwf6AiaJ0lRR5waw/edit#gid=0",
          "cachedResultName": "todo"
        },
        "options": {}
      },
      "id": "9c6ac2d1-b489-4070-bd5a-3797ddcd87f7",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        848,
        432
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1GGChHlMVOpgxhp20FP4YcKNkoplOwf6AiaJ0lRR5waw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GGChHlMVOpgxhp20FP4YcKNkoplOwf6AiaJ0lRR5waw/edit?usp=drivesdk",
          "cachedResultName": "demo"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GGChHlMVOpgxhp20FP4YcKNkoplOwf6AiaJ0lRR5waw/edit#gid=0",
          "cachedResultName": "todo"
        },
        "columns": {
          "value": {
            "Task": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task__using_to_match_', `Brief, clear description of what needs to be done (1-5 words)`, 'string') }}",
            "Notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', `pending or done, but always use pending for new tasks`, 'string') }}",
            "Due Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Date', ``, 'string') }}",
            "Created At": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Created_At', ``, 'string') }}"
          },
          "schema": [
            {
              "id": "Task",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Task",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Created At",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Created At",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Due Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Notes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Task"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1cbe75e1-015e-451c-987e-5a0bb914e332",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1072,
        432
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "use this tool to delete the rows, make sure you never delete the first row as it it is the name of the columns.",
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1GGChHlMVOpgxhp20FP4YcKNkoplOwf6AiaJ0lRR5waw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GGChHlMVOpgxhp20FP4YcKNkoplOwf6AiaJ0lRR5waw/edit?usp=drivesdk",
          "cachedResultName": "demo"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GGChHlMVOpgxhp20FP4YcKNkoplOwf6AiaJ0lRR5waw/edit#gid=0",
          "cachedResultName": "todo"
        },
        "startIndex": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Row_Number', ``, 'number') }}",
        "numberToDelete": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_Rows_to_Delete', ``, 'number') }}"
      },
      "id": "4e22200e-e000-4166-b282-529501ce03a2",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1280,
        432
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this Google Sheet tool to read the data from google sheet. this google sheet have column Task, Status, Created At, Due Date and Notes.\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1GGChHlMVOpgxhp20FP4YcKNkoplOwf6AiaJ0lRR5waw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GGChHlMVOpgxhp20FP4YcKNkoplOwf6AiaJ0lRR5waw/edit?usp=drivesdk",
          "cachedResultName": "demo"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GGChHlMVOpgxhp20FP4YcKNkoplOwf6AiaJ0lRR5waw/edit#gid=0",
          "cachedResultName": "todo"
        },
        "options": {}
      },
      "id": "f886d6b4-ee04-4402-a339-1999b7bbe978",
      "name": "Google Sheets5",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        624,
        1552
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "path": "6cabd911-9e8a-4014-914c-bc135b447612",
        "options": {}
      },
      "id": "7e77ffb9-ae54-46da-97f9-b2ae6c806d7e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        48,
        800
      ],
      "webhookId": "6cabd911-9e8a-4014-914c-bc135b447612",
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Telegram Start \nuser to send message ai agent to work google sheet read,append or update and delete the data in sheet\n"
      },
      "id": "147c25ec-19de-4f08-82f7-a032f2507c03",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Duplicate Not data to enter.\n"
      },
      "id": "6ca03790-be39-414f-8279-a001537d03de",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Schedule"
      },
      "id": "67c44d04-166a-411d-a443-5b7ac026aeda",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        1232
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-27T11:31:46.189Z",
      "updatedAt": "2025-08-27T11:31:46.189Z",
      "role": "workflow:owner",
      "workflowId": "FoUgJ4xDGdBvpS6P",
      "projectId": "1qt5AgXQ1QuSOdsi"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-27T11:31:46.182Z",
  "versionId": "acf2b0db-cca2-4f8a-a801-d4d540a1afc3"
}