json/hvBII4xX06yrlXQ3.json
{
  "active": false,
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Zalo User Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-25T00:50:19.128Z",
  "id": "hvBII4xX06yrlXQ3",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Giải ngân dự án copy",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Phân tích đoạn đoạn văn bản sau, tách các thông tin liên quan đến số tiền, loại hợp đồng theo định dạng mẫu:\n\n{\n\"total_amount\": \"tổng tiền thanh toán\",\n\"value_amount\": \"số tiền thanh toán chưa vat\",\n\"vat_amount\": \"số tiền vat thanh toán\",\n\"project_name\": \"tên dự án\",\n\"project_code\": \"mã dự án\",\n\"contractor_name\": \"tên nhà thầu\",\n\"package_number\": \"số gói thầu\",\n\"contract_number\": \"số hợp đồng\"\n\"contract_type\": \"loại hợp đồng\",\n\"total_invoice_amount\": \"tổng tiền trên hóa đơn\",\n\"value_invoice_amount\": \"số tiền chưa vat trên hóa đơn\",\n\"vat_invoice_amount\": \"số tiền vat trên hóa đơn\",\n\n\"comment\":\"Bình luận\"\n}\n\nTrong đó:\n- \"mã dự án\" có dạng DAxxxx, trong đó xxxx là 4 chữ số.\n- \"tổng tiền thanh toán\" là dạng số, không có kí tự chữ. Ví dụ 1000, 10000... Đây là toàn bộ số tiền trả cho nhà thầu.\n- \"tổng tiền trên hóa đơn\" là dạng số, không có kí tự chữ. Ví dụ 1000, 10000... Đây là toàn bộ số tiền trên hóa đơn.\n- \"số tiền vat trên hóa đơn\" là dạng số, không có kí tự chữ. Ví dụ 1000, 10000... Số này bằng số thuế GTGT của hóa đơn.\n- \"số tiền vat thanh toán\" là dạng số, không có kí tự chữ. Ví dụ 1000, 10000... Số này bằng \"số tiền vat trên hóa đơn\".\n- \"số tiền thanh toán chưa vat\" là dạng số, không có kí tự chữ. Ví dụ 1000, 10000... Số này bằng \"tổng tiền thanh toán\" trừ đi \"số tiền vat trên hóa đơn\".\n- \"số tiền chưa vat trên hóa đơn\" là dạng số, không có kí tự chữ. Ví dụ 1000, 10000... Số này bằng \"tổng tiền trên hóa đơn\" trừ đi \"số tiền vat trên hóa đơn\".\n- \"loại hợp đồng\" xác định như sau: điền giá trị “Xây lắp và thiết bị” nếu là hợp đồng xây lắp, điền giá trị “Chi phí tư vấn” nếu là hợp đồng tư vấn, nếu không có chỉ tiêu \"số gói thầu\" thì điền giá trị “Chi phí khác”.\n- \"Bình luận\" là nội dung bình luận tầm 3 câu về giao dịch thanh toán bằng Tiếng Việt. \n\nĐoạn văn bản: \n {{ $json.message.text }}",
        "options": {
          "systemMessage": "Bạn là một chuyên gia quản lý dự án tiếng Việt. Luôn trả về dạng JSON. Tuyệt đối trả về tiếng Việt. Only return Vietnamese."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1712,
        96
      ],
      "id": "c5097169-ae9e-4774-83f5-d1e93e03110b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Lấy input từ workflow\nconst input = $input.all();\n\n// Khởi tạo mảng để lưu kết quả\nconst results = [];\n\n// Duyệt qua từng item trong input\nfor (const item of input) {\n  // Parse chuỗi JSON trong trường output\n  const outputData = JSON.parse(item.json.output);\n  \n  // Tạo object chứa các thông tin cần thiết\n  const result = {\n    total_amount: outputData.total_amount,\n    value_amount: outputData.value_amount,\n    vat_amount: outputData.vat_amount,\n    project_name: outputData.project_name,\n    project_code: outputData.project_code,\n    contractor_name: outputData.contractor_name,\n    package_number: outputData.package_number,\n    contract_number: outputData.contract_number,\n    contract_type: outputData.contract_type,\n    total_invoice_amount: outputData.total_invoice_amount,\n    value_invoice_amount: outputData.value_invoice_amount,\n    vat_invoice_amount: outputData.vat_invoice_amount,\n    comment: outputData.comment\n  };\n  \n  // Thêm vào mảng kết quả\n  results.push(result);\n}\n\n// Trả về kết quả\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        96
      ],
      "id": "95d2a0d5-9576-4ab4-89c1-7b262cf98427",
      "name": "Code",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bTxPbAagSVlLPE75quajp46FwhSjHCkAfBx7hw0aI8I",
          "mode": "list",
          "cachedResultName": "Quản lý Dự án",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bTxPbAagSVlLPE75quajp46FwhSjHCkAfBx7hw0aI8I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bTxPbAagSVlLPE75quajp46FwhSjHCkAfBx7hw0aI8I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ngày": "=",
            "Tổng tiền thanh toán": "={{ $json.total_amount }}",
            "Số tiền thanh toán chưa VAT": "={{ $json.value_amount }}",
            "VAT": "={{ $json.vat_amount }}",
            "Tên dự án": "={{ $json.project_name }}",
            "Mã dự án": "={{ $json.project_code }}",
            "Tên nhà thầu": "={{ $json.contractor_name }}",
            "Số gói thầu": "={{ $json.package_number }}",
            "Số hợp đồng": "={{ $json.contract_number }}",
            "Loại hợp đồng": "={{ $json.contract_type }}",
            "Tổng tiền trên hóa đơn": "={{ $json.total_invoice_amount }}",
            "Số tiền trên hóa đơn chưa VAT": "={{ $json.value_invoice_amount }}",
            "Số tiền VAT trên hóa đơn": "={{ $json.vat_invoice_amount }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tổng tiền thanh toán",
              "displayName": "Tổng tiền thanh toán",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Số tiền thanh toán chưa VAT",
              "displayName": "Số tiền thanh toán chưa VAT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VAT",
              "displayName": "VAT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tên dự án",
              "displayName": "Tên dự án",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mã dự án",
              "displayName": "Mã dự án",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tên nhà thầu",
              "displayName": "Tên nhà thầu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Số gói thầu",
              "displayName": "Số gói thầu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Số hợp đồng",
              "displayName": "Số hợp đồng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Loại hợp đồng",
              "displayName": "Loại hợp đồng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tổng tiền trên hóa đơn",
              "displayName": "Tổng tiền trên hóa đơn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Số tiền trên hóa đơn chưa VAT",
              "displayName": "Số tiền trên hóa đơn chưa VAT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Số tiền VAT trên hóa đơn",
              "displayName": "Số tiền VAT trên hóa đơn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1120,
        32
      ],
      "id": "8cf80fa8-8616-4348-a8cb-bbd3b2c48b51",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bDxwsbgFGCEJL8T6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d08a750-946d-4076-b7cd-7851afa49253",
              "leftValue": "={{$json.project_name}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1296,
        32
      ],
      "id": "94ddfd8f-512b-4d37-b296-6dfb9b8426fb",
      "name": "If"
    },
    {
      "parameters": {
        "model": "grok-4-0709",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        -1792,
        288
      ],
      "id": "19bfb6ff-6bc8-470d-99cd-38b4d34116f3",
      "name": "xAI Grok Chat Model",
      "credentials": {
        "xAiApi": {
          "id": "nuArFrJIV927cng1",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-zalo-user-v3.zaloUserLogin",
      "typeVersion": 3,
      "position": [
        -1968,
        -80
      ],
      "id": "b0162a7f-007b-4131-90af-46909a0b6929",
      "name": "Zalo Login Via QR Code",
      "credentials": {
        "n8nApi": {
          "id": "F5hzDfmKTNnuxsqB",
          "name": "n8n account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-zalo-user-v3.zaloUser",
      "typeVersion": 2,
      "position": [
        -1856,
        96
      ],
      "id": "4368d16a-ed13-4184-8f31-64e193f32644",
      "name": "Zalo User Trigger",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "bviMgz339sdKujr0",
          "name": "Zalo Nguyễn Minh Hoàng +84934511873 - 2025-08-25T01:16:42.108Z"
        }
      }
    },
    {
      "parameters": {
        "message": "Xin lỗi. Hiện tôi chưa hiểu được nội dung chat của bạn. Bạn có thể nói lại rõ hơn được không. Xin cảm ơn!"
      },
      "type": "n8n-nodes-zalo-user-v3.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        -1264,
        224
      ],
      "id": "fbbda16f-e20e-449e-9738-6e6e9710cbb2",
      "name": "Send a message",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "bviMgz339sdKujr0",
          "name": "Zalo Nguyễn Minh Hoàng +84934511873 - 2025-08-25T01:16:42.108Z"
        }
      }
    },
    {
      "parameters": {
        "message": "=Chúng tôi đã cập nhật vào bảng thanh toán của dự án. Xin cảm ơn!  Tuy nhiên, tôi có ý kiến về khoản thanh toán như sau:"
      },
      "type": "n8n-nodes-zalo-user-v3.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        -912,
        32
      ],
      "id": "1d05d166-7ba0-434d-99eb-c52f80751d1b",
      "name": "Send a message1",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "bviMgz339sdKujr0",
          "name": "Zalo Nguyễn Minh Hoàng +84934511873 - 2025-08-25T01:16:42.108Z"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-25T00:50:19.133Z",
      "updatedAt": "2025-08-25T00:50:19.133Z",
      "role": "workflow:owner",
      "workflowId": "hvBII4xX06yrlXQ3",
      "projectId": "1qt5AgXQ1QuSOdsi"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-25T01:49:44.000Z",
  "versionId": "27d9dca6-a195-4f2d-9d59-5ba136fa4bda"
}