json/hYBFKtafmtqa2412.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Thông tin cuộc họp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo cuộc họp": {
      "main": [
        [
          {
            "node": "Cập nhật lại danh sách lịch họp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a meeting": {
      "main": [
        [
          {
            "node": "Cập nhật lại danh sách lịch họp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thông tin cuộc họp": {
      "main": [
        [
          {
            "node": "Điều kiện",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Điều kiện": {
      "main": [
        [
          {
            "node": "Điều kiện1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Điều kiện1": {
      "main": [
        [
          {
            "node": "Tạo cuộc họp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a meeting": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update a meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-25T07:03:36.738Z",
  "id": "hYBFKtafmtqa2412",
  "isArchived": false,
  "meta": null,
  "name": "Lên lịch họp - Huy",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "topic": "={{ $('Thông tin cuộc họp').item.json['Nội dung họp'] }}",
        "additionalFields": {
          "duration": 180,
          "password": "123456",
          "settings": {
            "audio": "voip"
          },
          "startTime": "={{ $json['Thời gian đầy đủ'] }}",
          "type": 2
        }
      },
      "type": "n8n-nodes-base.zoom",
      "typeVersion": 1,
      "position": [
        368,
        64
      ],
      "id": "e22ab6cc-c4d8-46fd-8d47-344344fbcb66",
      "name": "Tạo cuộc họp"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -672,
        160
      ],
      "id": "9e5c402d-22c7-467f-aff6-388def2a2e3f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "meetingId": "={{ $json['Zoom ID'] }}",
        "updateFields": {
          "startTime": "={{ DateTime.fromFormat($json[\"Thời gian đầy đủ\"], \"yyyy-MM-dd HH:mm:ss\").toISO() }}"
        }
      },
      "type": "n8n-nodes-base.zoom",
      "typeVersion": 1,
      "position": [
        896,
        368
      ],
      "id": "738c78c4-0f60-4107-928c-d1dd21fd96eb",
      "name": "Update a meeting"
    },
    {
      "parameters": {
        "content": "Nhánh Update cuộc họp khi có thay đổi về thời gian.\nHàm điều kiện If sẽ lọc các cuộc họp ở trạng thái đã tạo Zoom đi vào nhánh này.",
        "height": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        240
      ],
      "id": "e805ea66-c2f2-4bb5-9602-cdce44d152cf",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Hàm điều kiện:\n- \"Trạng thái xử lý\" trống thì sẽ tạo mới;\n- \"Trạng thái xử lý\" đã tạo Zoom thì sẽ theo nhánh Update",
        "height": 340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0a442aed-48b2-4e4f-8f20-60533b1807df",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Hẹn giờ: cứ 30 phút chạy 1 lần",
        "height": 220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -768,
        96
      ],
      "id": "4c4782f5-10b2-4259-b40b-a9bed47ec6c5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ifzQD3WaF97Y-FyZQdqUd7vVDsiXmIJVknxsRUoXSCQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ifzQD3WaF97Y-FyZQdqUd7vVDsiXmIJVknxsRUoXSCQ/edit?gid=896516064#gid=896516064",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -448,
        160
      ],
      "id": "14a60c44-fa17-4181-be43-87af971cc8bc",
      "name": "Thông tin cuộc họp",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9539a2ca-5a41-48fe-9e51-eb99b0db6d02",
              "leftValue": "={{ $json['Thời gian đầy đủ'] }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        160
      ],
      "id": "bb7311f5-26ac-4bd6-be15-831a10a7f2b1",
      "name": "Điều kiện"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bba0f0ee-631b-4bf0-9cfc-09d7eaf1aade",
              "leftValue": "={{ $json['Trạng thái xử lý'] }}",
              "rightValue": "Đã tạo zoom",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        144
      ],
      "id": "ab168491-e528-4234-99aa-6504e3159e49",
      "name": "Điều kiện1"
    },
    {
      "parameters": {
        "content": "Hàm điều kiện: Chỉ cho phép các cuộc họp có thời gian ở tương lại so với thời điểm kiểm tra, các mốc thời gian ở quá khứ sẽ bị loại.",
        "height": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        16
      ],
      "id": "1dfc961c-f7c3-4c4c-8c8a-c4a4b520cc4b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ifzQD3WaF97Y-FyZQdqUd7vVDsiXmIJVknxsRUoXSCQ",
          "mode": "list",
          "cachedResultName": "Tự động tạo ID họp và BB họp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ifzQD3WaF97Y-FyZQdqUd7vVDsiXmIJVknxsRUoXSCQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 896516064,
          "mode": "list",
          "cachedResultName": "THONG TIN LICH HOP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ifzQD3WaF97Y-FyZQdqUd7vVDsiXmIJVknxsRUoXSCQ/edit#gid=896516064"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Trạng thái xử lý": "Đã tạo zoom",
            "Zoom Pass": "={{ $json.password }}",
            "Nội dung họp": "={{ $json.topic }}",
            "Zoom ID": "={{ $json.id }}"
          },
          "matchingColumns": [
            "Nội dung họp"
          ],
          "schema": [
            {
              "id": "số thứ tự",
              "displayName": "số thứ tự",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giờ",
              "displayName": "Giờ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời gian đầy đủ",
              "displayName": "Thời gian đầy đủ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nội dung họp",
              "displayName": "Nội dung họp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trạng thái xử lý",
              "displayName": "Trạng thái xử lý",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Zoom ID",
              "displayName": "Zoom ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Zoom Pass",
              "displayName": "Zoom Pass",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái thông báo",
              "displayName": "Trạng thái thông báo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        688,
        64
      ],
      "id": "6355c792-828e-4fb8-a9cf-7aa810d10ba6",
      "name": "Cập nhật lại danh sách lịch họp",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ifzQD3WaF97Y-FyZQdqUd7vVDsiXmIJVknxsRUoXSCQ",
          "mode": "list",
          "cachedResultName": "Tự động tạo ID họp và BB họp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ifzQD3WaF97Y-FyZQdqUd7vVDsiXmIJVknxsRUoXSCQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 896516064,
          "mode": "list",
          "cachedResultName": "THONG TIN LICH HOP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ifzQD3WaF97Y-FyZQdqUd7vVDsiXmIJVknxsRUoXSCQ/edit#gid=896516064"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nội dung họp": "={{ $('Thông tin cuộc họp').item.json['Nội dung họp'] }}",
            "Trạng thái thông báo": "={{ null }}"
          },
          "matchingColumns": [
            "Nội dung họp"
          ],
          "schema": [
            {
              "id": "số thứ tự",
              "displayName": "số thứ tự",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giờ",
              "displayName": "Giờ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời gian đầy đủ",
              "displayName": "Thời gian đầy đủ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nội dung họp",
              "displayName": "Nội dung họp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trạng thái xử lý",
              "displayName": "Trạng thái xử lý",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Zoom ID",
              "displayName": "Zoom ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Zoom Pass",
              "displayName": "Zoom Pass",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái thông báo",
              "displayName": "Trạng thái thông báo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Zalo Group ID",
              "displayName": "Zalo Group ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1168,
        352
      ],
      "id": "aec6ae46-ea63-46f6-b1f1-1cc11c50097a",
      "name": "Cập nhật lại danh sách lịch họp1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "Cập nhật lại \"Trạng thái thông báo\" thành trống (nghĩa là chưa gửi ID)",
        "height": 280,
        "width": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1088,
        240
      ],
      "id": "2a6ad0b7-c531-4d11-a92f-9e59870f96f6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "meetingId": "={{ $json['Zoom ID'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.zoom",
      "typeVersion": 1,
      "position": [
        368,
        352
      ],
      "id": "c578729e-bcc6-4289-86da-288f199d300f",
      "name": "Get a meeting"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "28473256-4e6f-4abd-8588-5e2607726d40",
              "leftValue": "={{ $('Thông tin cuộc họp').item.json['Thời gian đầy đủ'] }}",
              "rightValue": "={{ $json.start_time }}",
              "operator": {
                "type": "dateTime",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        368
      ],
      "id": "dc0e005a-9c54-4c7f-8537-307f71c2af14",
      "name": "If"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-25T07:03:36.743Z",
      "updatedAt": "2025-08-25T07:03:36.743Z",
      "role": "workflow:owner",
      "workflowId": "hYBFKtafmtqa2412",
      "projectId": "1qt5AgXQ1QuSOdsi"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-27T01:09:59.000Z",
  "versionId": "acc0f888-875e-4bf5-913e-b98d1cc227df"
}