json/k2npXJjVKj6Be8sl.json
{
  "active": false,
  "connections": {
    "Ghi vào sheet": {
      "main": [
        [
          {
            "node": "Tạo sự kiện",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tin nhắn kèm lịch": {
      "main": [
        [
          {
            "node": "Lấy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy file": {
      "main": [
        [
          {
            "node": "Đọc thông tin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đọc thông tin": {
      "main": [
        [
          {
            "node": "Xử lý",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xử lý": {
      "main": [
        [
          {
            "node": "Ghi vào sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI": {
      "ai_languageModel": [
        [
          {
            "node": "Tạo sự kiện",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tạo sự kiện": {
      "main": [
        [
          {
            "node": "Xử lý 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo mới sự kiện": {
      "ai_tool": [
        [
          {
            "node": "Tạo sự kiện",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cập nhật lại sự kiện": {
      "ai_tool": [
        [
          {
            "node": "Tạo sự kiện",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Xử lý 2": {
      "main": [
        [
          {
            "node": "Cập nhật trạng thái",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cập nhật trạng thái": {
      "main": [
        [
          {
            "node": "Hệ thống xác nhận",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-26T10:47:23.087Z",
  "id": "k2npXJjVKj6Be8sl",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "content": "## LẤY THÔNG TIN TỪ FILE\nCập nhật hàng tuần hoặc khi có lịch thay đổi",
        "height": 480,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1088,
        160
      ],
      "id": "394f2f56-d927-4c59-a233-fc92b1fddb98",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## PHÂN TÍCH THÔNG TIN\nLọc các thông tin theo trường có liên quan, chỉ giữ lại các sự kiện có liên quan đến đơn vị\n",
        "height": 480,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -864,
        160
      ],
      "id": "594b6a26-c745-4e87-a517-30af35e15375",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## THÔNG BÁO KẾT QUẢ\n",
        "height": 272,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        176
      ],
      "id": "f9f3b57c-f65b-46ff-8a60-77a7b9ab3357",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## TẠO SỰ KIỆN MỚI\n",
        "height": 304,
        "width": 336,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4a71a5c8-164e-48d2-b7d5-58c3de4382c3",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QwmB-AhLuTlJDwzx4vavklrVKhqehePsP34kKpZ7xxE",
          "mode": "list",
          "cachedResultName": "Lịch tuần",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QwmB-AhLuTlJDwzx4vavklrVKhqehePsP34kKpZ7xxE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Fx5DqALw4jvDh0-X0iV4KgTjnS3w9UI4Iy8rplZ_u8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Địa điểm": "={{ $json.location }}",
            "Nội dung": "={{ $json.event }}",
            "ID": "={{ $json.id }}",
            "Thành phần": "={{ $json.participants }}",
            "Thời gian": "={{ $json.time }}",
            "Trạng thái": "Chưa tạo lịch"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Thời gian",
              "displayName": "Thời gian",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Địa điểm",
              "displayName": "Địa điểm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nội dung",
              "displayName": "Nội dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Thành phần",
              "displayName": "Thành phần",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trạng thái",
              "displayName": "Trạng thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9dff9696-d787-4924-91a8-1285869f77ce",
      "name": "Ghi vào sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -496,
        256
      ],
      "typeVersion": 4,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bDxwsbgFGCEJL8T6",
          "name": "Google Sheets PMU"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1040,
        304
      ],
      "id": "7b636687-d125-4ac7-a119-6200168ca0e1",
      "name": "Tin nhắn kèm lịch",
      "webhookId": "11231394-305d-4c4d-af8d-1e30f30d64ba",
      "credentials": {
        "telegramApi": {
          "id": "3B293brHd7IH9AVq",
          "name": "Telegram Hoàng"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1024,
        496
      ],
      "id": "48ea723a-9220-4345-967a-9d1f03b6cf1c",
      "name": "Lấy file",
      "webhookId": "665cc64f-2b7f-4271-a0d2-31bcf0864b9d",
      "credentials": {
        "telegramApi": {
          "id": "3B293brHd7IH9AVq",
          "name": "Telegram Hoàng"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-thinking-exp",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-thinking-exp"
        },
        "text": "Bạn là công cụ đọc ảnh để trích xuất dữ liệu từ lịch tuần.  \nHãy phân tích ảnh và trả về dữ liệu ở dạng JSON với các trường sau:\n- “id”: [Số hiệu sự kiện]  \n- \"date\": [Ngày diễn ra sự kiện] \n- \"hour\": [Giờ chi tiết diễn ra sự kiện]\n- \"location\": [Nơi diễn ra sự kiện]  \n- \"event\": [Chi tiết của sự kiện]\n- \"participant\": [Các đối tượng tham gia sự kiện]\n\nYêu cầu:  \n- Chỉ trả về JSON thuần, không giải thích. Dữ liệu JSON đầu ra phải được khai báo ở dạng $json.output\n- Mỗi đối tượng khác nhau trong mục thành phần tách thành một trường riêng với tên trường có cấu trúc “participant 1”, “participant 2”…\n- Mỗi sự kiện tách thành một “id” riêng với đầy đủ các trường liên quan…\n- Nếu thông tin không có trong ảnh, để giá trị rỗng \"\".  \n- Không bỏ sót bất kỳ thông số nào trong lịch.\n- Khi nhận diện thông số trong các trường, đặc biệt là trường \"event\", loại bỏ hết các ký tự đặc biệt như \", \\, /, $",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -832,
        432
      ],
      "id": "01de1564-f172-49e3-a70d-7714bd20b404",
      "name": "Đọc thông tin",
      "credentials": {
        "googlePalmApi": {
          "id": "02UXHft85xgWf6L4",
          "name": "Google Gemini(PaLM) Api PMU"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Kiểm tra dữ liệu đầu vào từ Gemini\nconst items = $input.all();\nif (!items || !items.length || !items[0].json) {\n  throw new Error(\"Missing or invalid input data from Gemini\");\n}\n\n// Lấy chuỗi JSON từ Gemini\nlet note;\nif (items[0].json.content && items[0].json.content.parts && items[0].json.content.parts[0].text) {\n  note = items[0].json.content.parts[0].text;\n} else if (items[0].json.output) {\n  note = items[0].json.output;\n} else {\n  throw new Error(\"No valid JSON data found in items[0].json.content.parts[0].text or items[0].json.output\");\n}\n\n// Debug: In chuỗi JSON gốc\nconsole.log(\"Raw JSON string:\", note);\n\n// Làm sạch chuỗi JSON\ntry {\n  // Loại bỏ \"$json.output\" nếu có\n  note = note.replace(/^\\$json\\.output\\n?/, \"\").trim();\n  // Loại bỏ ```json và ```\n  note = note.replace(/```json\\n?/, \"\").replace(/```\\n?/, \"\").trim();\n  // Thay thế \\n, \\t\n  note = note.replace(/\\\\n/g, \"\").replace(/\\\\t/g, \"\");\n  // Xử lý dấu \\ trước dấu ngoặc kép trong chuỗi\n  note = note.replace(/\\\\\"/g, '\"');\n  // Xử lý các dấu \\ thừa không hợp lệ\n  note = note.replace(/\\\\([^\"\\\\])/g, \"$1\");\n  // Loại bỏ các dấu \\ thừa ở cuối chuỗi\n  note = note.replace(/\\\\$/g, \"\");\n} catch (error) {\n  throw new Error(`Error cleaning JSON string: ${error.message}. Raw input: ${note}`);\n}\n\n// Debug: In chuỗi JSON đã làm sạch\nconsole.log(\"Cleaned JSON string:\", note);\n\n// Phân tích JSON\nlet events;\ntry {\n  events = JSON.parse(note);\n  if (!Array.isArray(events)) {\n    throw new Error(\"Parsed JSON from Gemini is not an array of events\");\n  }\n} catch (error) {\n  throw new Error(`Error parsing JSON at position ${error.position || \"unknown\"}: ${error.message}. Cleaned JSON: ${note}`);\n}\n\n// Lấy thời gian hiện tại (múi giờ +07)\nconst currentDate = new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Ho_Chi_Minh\" });\n\n// Hàm tính số tuần trong năm\nfunction getWeekNumber(d) {\n  d = new Date(d);\n  const start = new Date(d.getFullYear(), 0, 1);\n  const diff = d - start;\n  const oneDay = 86400000;\n  return Math.ceil(((diff / oneDay) + start.getDay() + 1) / 7);\n}\n\n// Xử lý và lọc các sự kiện\nconst result = events\n  .map(event => {\n    // Tách các participant thành mảng\n    const participants = [];\n    for (let i = 1; i <= 10; i++) { // Tăng lên 10 để xử lý số lượng participant lớn\n      const participantKey = `participant ${i}`;\n      if (event[participantKey]) {\n        participants.push(event[participantKey]);\n      }\n    }\n\n    // Lọc chỉ giữ lại các participant chứa \"BQL\", \"Ban Quản lý\", \"BKS\" hoặc \"Ban Kiểm soát\"\n    const filteredParticipants = participants.filter(participant =>\n      participant.toLowerCase().includes(\"bql\") ||\n      participant.toLowerCase().includes(\"ban quản lý\") ||\n      participant.toLowerCase().includes(\"bks\") ||\n      participant.toLowerCase().includes(\"ban kiểm soát\")\n    );\n\n    // Gộp date và hour thành time ở định dạng mm/dd/yyyy, hh:mm:ss\n    let time = \"\";\n    let eventDateObj = null;\n    let yyyy = \"\";\n    let week = 0;\n    if (event.date) {\n      // Parse date từ định dạng dd/mm/yyyy hoặc tương tự\n      const dateParts = event.date.split(\"/\");\n      if (dateParts.length === 3) {\n        const dd = dateParts[0].padStart(2, \"0\");\n        const mm = dateParts[1].padStart(2, \"0\");\n        yyyy = dateParts[2];\n        time = `${mm}/${dd}/${yyyy}`;\n        eventDateObj = new Date(parseInt(yyyy), parseInt(mm) - 1, parseInt(dd));\n        week = getWeekNumber(eventDateObj);\n      }\n    }\n    if (event.hour) {\n      // Parse hour từ định dạng hh:mm hoặc hhhmm\n      let hourStr = event.hour.replace(\"h\", \":\");\n      if (hourStr.split(\":\").length === 1) {\n        hourStr += \":00\"; // Nếu chỉ có giờ, thêm phút 00\n      }\n      time += `, ${hourStr}:00`; // Thêm giây 00\n    } else {\n      time += \", 00:00:00\"; // Nếu không có hour, thêm giờ mặc định\n    }\n\n    // Mở rộng ID theo định dạng \"Txx-yyyy-zz\"\n    const originalId = parseInt(event.id) || 0;\n    const xx = week.toString().padStart(2, \"0\");\n    const zz = originalId.toString().padStart(2, \"0\");\n    const newId = `T${xx}-${yyyy}-${zz}`;\n\n    // Tạo đối tượng cho sự kiện với participants đã lọc và time mới\n    return {\n      id: newId,\n      time: time,\n      location: event.location || \"\",\n      event: event.event || \"\",\n      participants: filteredParticipants,\n      date_processed: currentDate,\n      source: \"Gemini\"\n    };\n  })\n  .filter(item => {\n    // Lọc các sự kiện có participants chứa \"BQL\", \"Ban Quản lý\", \"BKS\" hoặc \"Ban Kiểm soát\"\n    return item.participants.length > 0;\n  });\n\n// Trả về kết quả theo định dạng n8n\nreturn result.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        336
      ],
      "id": "2a404c4c-1f57-49fe-baa8-7077ea1b584a",
      "name": "Xử lý"
    },
    {
      "parameters": {
        "model": "grok-3-fast",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        96,
        176
      ],
      "id": "210f75e7-14f6-48a3-a9f6-0ad9cbc52565",
      "name": "AI",
      "credentials": {
        "xAiApi": {
          "id": "nuArFrJIV927cng1",
          "name": "xAi PMU"
        }
      }
    },
    {
      "parameters": {
        "content": "## CẬP NHẬT\nCập nhật lại trạng thái sự kiện đã được tạo lịch",
        "height": 464,
        "width": 304,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        352,
        176
      ],
      "id": "1f4dbbc4-c179-4471-a1c7-8f8c454ed16f",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Bạn được cung cấp dữ liệu từ google sheet. Kiểm tra từng dòng từ file trước đó, với mỗi dòng trong sheet có {{ $json.ID }} khác nhau thì kích hoạt tạo sự kiện hoặc sửa đổi sự kiện. \n\nSự kiện được tạo ra phải có các thông tin:\n- Start: là {{ $json[\"Thời gian\"] }}, múi giờ mặc định là GMT+07:00\n- End: mặc định là 1 tiếng sau Start date\n- Summary: {{ $json[\"Địa điểm\"] }} - {{ $json[\"Nội dung\"] }}\n- Description: là {{ $json[\"Thành phần\"] }}\n\nLưu ý:\n- Không tạo lại sự kiện có ngày {{ $json[\"Thời gian\"] }} trước {{ $now }}\n- Với mỗi sự kiện khác nhau thì tạo một sự kiện riêng rẽ. Định dạng giờ phải tương thích với Google Calendar.\n- Summary phải giữ lại text gốc, có đầy đủ dấu.\n- Không hỏi lại.\n- Nếu có 2 dòng có {{ $json.ID }} trùng nhau thì so sánh tiếp các cột {{ $json[\"Thời gian\"] }}, {{ $json[\"Địa điểm\"] }}, {{ $json[\"Nội dung\"] }}. Nếu tất cả đều giữ nguyên thì không tạo sự kiện mới nữa.\n- Bạn tự quyết định sẽ tạo mới hay sửa lại sự kiện hiện có.\n- Output trả về ở dạng Json, gồm có các thông tin:\n+ ID: {{ $json.ID }}\n+ Trạng thái: tạo thành công thì ghi là \"Đã tạo lịch\", không thành công thì ghi là \"Chưa tạo lịch\", nếu là sửa sự kiện đã có thì trạng thái là \"Đã sửa đổi\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        144,
        32
      ],
      "id": "ca52c1a6-36a7-455e-bebd-832608516bd7",
      "name": "Tạo sự kiện"
    },
    {
      "parameters": {
        "content": "## CẬP NHẬT SỰ KIỆN THAY ĐỔI\n",
        "height": 336,
        "width": 336,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        352
      ],
      "id": "3ad43f06-4d97-4d69-8bf5-921d72032f23",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "hpwspmu@gmail.com",
          "mode": "list",
          "cachedResultName": "hpwspmu@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ false }}",
        "additionalFields": {
          "attendees": [],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        },
        "remindersUi": {
          "remindersValues": [
            {
              "method": "popup",
              "minutes": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        352,
        240
      ],
      "id": "13099ccd-def5-4b6b-996d-e6c8304e592a",
      "name": "Tạo mới sự kiện",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Vdl3bkwXGwc8WK5q",
          "name": "Google Calendar PMU"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "hpwspmu@gmail.com",
          "mode": "list",
          "cachedResultName": "hpwspmu@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        224,
        240
      ],
      "id": "c7df3e69-c434-4b70-bf82-204c524f283a",
      "name": "Cập nhật lại sự kiện",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Vdl3bkwXGwc8WK5q",
          "name": "Google Calendar PMU"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Kiểm tra dữ liệu đầu vào\nconst items = $input.all();\nif (!items || !items.length) {\n  throw new Error(\"No input data provided\");\n}\n\n// Lấy thời gian hiện tại (múi giờ +07)\nconst currentDate = new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Ho_Chi_Minh\" });\n\n// Xử lý từng item\nconst result = items.map(item => {\n  let output = item.json.output || \"\";\n\n  // Làm sạch chuỗi JSON trong \"output\"\n  try {\n    // Loại bỏ \\n và các ký tự thừa\n    output = output.replace(/\\\\n/g, \"\").replace(/\\\\\"/g, '\"').trim();\n  } catch (error) {\n    throw new Error(`Error cleaning output string: ${error.message}. Raw output: ${output}`);\n  }\n\n  // Phân tích JSON\n  let parsedOutput;\n  try {\n    parsedOutput = JSON.parse(output);\n  } catch (error) {\n    throw new Error(`Error parsing output JSON: ${error.message}. Cleaned output: ${output}`);\n  }\n\n  // Tách các trường \"ID\" và \"Trạng thái\"\n  const id = parsedOutput.ID || \"\";\n  const trang_thai = parsedOutput[\"Trạng thái\"] || \"\";\n\n  // Tạo đối tượng mới\n  return {\n    id,\n    trang_thai,\n    date_processed: currentDate\n  };\n});\n\n// Trả về kết quả theo định dạng n8n\nreturn result.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        272
      ],
      "id": "7b9550e8-dbee-4682-87e1-2b096ce83e0c",
      "name": "Xử lý 2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QwmB-AhLuTlJDwzx4vavklrVKhqehePsP34kKpZ7xxE",
          "mode": "list",
          "cachedResultName": "Lịch tuần",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QwmB-AhLuTlJDwzx4vavklrVKhqehePsP34kKpZ7xxE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QwmB-AhLuTlJDwzx4vavklrVKhqehePsP34kKpZ7xxE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Trạng thái": "={{ $json.trang_thai }}",
            "ID": "={{ $json.id }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Thời gian",
              "displayName": "Thời gian",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Địa điểm",
              "displayName": "Địa điểm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nội dung",
              "displayName": "Nội dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thành phần",
              "displayName": "Thành phần",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái",
              "displayName": "Trạng thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        272
      ],
      "id": "e23220e2-2154-47a5-b643-01353c12c1a3",
      "name": "Cập nhật trạng thái",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bDxwsbgFGCEJL8T6",
          "name": "Google Sheets PMU"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7039157861",
        "text": "=Tôi đã cập nhật lịch mới vào Calendar của bạn. Hãy kiểm tra để biết chi tiết!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        944,
        272
      ],
      "id": "5f19b8ac-073c-4daf-9c0c-46d5ff8bfe03",
      "name": "Hệ thống xác nhận",
      "webhookId": "7c8c0732-368f-4f9d-a178-db0be37c6104",
      "credentials": {
        "telegramApi": {
          "id": "3B293brHd7IH9AVq",
          "name": "Telegram Hoàng"
        }
      }
    },
    {
      "parameters": {
        "content": "## GHI VÀO SHEET\nLoại bỏ những mốc thời gian đã diễn ra, chỉ tạo và sửa lại các sự kiện chưa diễn ra ",
        "height": 480,
        "width": 512,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        160
      ],
      "id": "d9756553-9c16-43a3-8313-a2888c34d6f3",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-26T10:47:23.096Z",
      "updatedAt": "2025-08-26T10:47:23.096Z",
      "role": "workflow:owner",
      "workflowId": "k2npXJjVKj6Be8sl",
      "projectId": "1qt5AgXQ1QuSOdsi"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-26T10:53:43.000Z",
  "versionId": "e79e80d0-e4e7-4a01-92d0-91084fbdc84c"
}