json/lKyKBhG8W4bY8Ayq.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-27T12:57:32.914Z",
  "id": "lKyKBhG8W4bY8Ayq",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Lịch tự động - zalo copy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "50729d37-3b5e-4947-b394-72b996c39d69",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1120,
        288
      ],
      "id": "a5206236-8a92-44bc-9225-27950694db92",
      "name": "Webhook",
      "webhookId": "50729d37-3b5e-4947-b394-72b996c39d69"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -944,
        224
      ],
      "id": "9e068583-dc8a-4717-9c3f-6463ef646796",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "grok-4-0709",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        -960,
        384
      ],
      "id": "3892fb6d-058b-43c0-ba1b-90d04770b947",
      "name": "xAI Grok Chat Model",
      "credentials": {
        "xAiApi": {
          "id": "nuArFrJIV927cng1",
          "name": "xAi PMU"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot4007478907826002270:MEZflzrzexChwVYxzermsoAMSXaPzYIlLHCYqbQJgpEEreHHHdstPpGAUWUkZMvz/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=chat_id",
              "value": "={{ $('Webhook').item.json.body.message.chat.id }}"
            },
            {
              "name": "text",
              "value": "=Hello {{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        224
      ],
      "id": "dda9fa65-3c82-48d3-ad23-371330034f11",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "createdAt": "2025-08-27T12:57:32.921Z",
      "updatedAt": "2025-08-27T12:57:32.921Z",
      "role": "workflow:owner",
      "workflowId": "lKyKBhG8W4bY8Ayq",
      "projectId": "1qt5AgXQ1QuSOdsi"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-28T07:24:30.000Z",
  "versionId": "66bc7e1b-2858-414f-8804-07465500f2b4"
}