json/sItZDuukoD0PugS6.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-28T07:24:24.869Z",
  "id": "sItZDuukoD0PugS6",
  "isArchived": false,
  "meta": null,
  "name": "Bot chat zalo test 1",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "zalo-bot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        448
      ],
      "id": "3bd54dce-2b61-44d3-bc2b-e93f7c28bfe2",
      "name": "Webhook",
      "webhookId": "f9c917c2-c7a6-41f8-b43a-06fe7777bbd4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://bot-api.zapps.me/bot{{ $json.token }}/setWebhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            },
            {
              "name": "secret_token",
              "value": "={{ $json.secret_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        48
      ],
      "id": "e85cb358-b71e-4887-b8c4-85e3a884a46d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f0bae0c-a86e-48f0-988b-2de79190c0fb",
              "name": "token",
              "value": "",
              "type": "string"
            },
            {
              "id": "1c7197bc-d6f5-48e4-95e1-9a2c432e9ee2",
              "name": "url",
              "value": "",
              "type": "string"
            },
            {
              "id": "7419f1d4-f082-4b85-8a09-642fa0687534",
              "name": "secret_token",
              "value": "Secret_token",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        144
      ],
      "id": "c054c190-9834-4e15-9a10-3dde55d5d944",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Set Webhook",
        "height": 288,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "9e06acb4-41cf-446b-87a2-aa5e07795d4d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://bot-api.zapps.me/bot{{ $json.token }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.chat.id }}"
            },
            {
              "name": "text",
              "value": "={{ $('Webhook').item.json.body.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        432
      ],
      "id": "838cbc62-4dcc-4346-8fd3-a97755b9ca40",
      "name": "HTTP Request1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        48
      ],
      "id": "51a968ae-cf7d-4fcc-83fb-7756c8c5744b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "## Nhận và gửi phản hồi",
        "height": 320,
        "width": 704,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        320
      ],
      "typeVersion": 1,
      "id": "4e6c676b-4823-494f-add5-82c2fc895a89",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-28T07:24:24.877Z",
      "updatedAt": "2025-08-28T07:24:24.877Z",
      "role": "workflow:owner",
      "workflowId": "sItZDuukoD0PugS6",
      "projectId": "1qt5AgXQ1QuSOdsi"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-03T07:05:48.000Z",
  "versionId": "ce2b7318-8a94-407c-98fa-36debd273925"
}