json/V2BIxJDmECgsrz0i.json
{
  "active": false,
  "connections": {
    "Globals": {
      "main": [
        [
          {
            "node": "Get all files in given path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split the result": {
      "main": [
        [
          {
            "node": "Get file content from GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert files to JSON": {
      "main": [
        [
          {
            "node": "Check for skipped Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all files in given path": {
      "main": [
        [
          {
            "node": "Split the result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file content from GitHub": {
      "main": [
        [
          {
            "node": "Convert files to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for skipped Credentials": {
      "main": [
        [],
        [
          {
            "node": "Restore n8n Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set name and content": {
      "main": [
        [
          {
            "node": "Merge Github and n8n workflows - Keep only non existing workflows based on the name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - get all files": {
      "main": [
        [
          {
            "node": "Merge globals and files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - get each file": {
      "main": [
        [
          {
            "node": "Set name and content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge globals and files": {
      "main": [
        [
          {
            "node": "GitHub - get each file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n - get all workflows": {
      "main": [
        [
          {
            "node": "Set n8n existing workflows names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If workflow already exists": {
      "main": [
        [
          {
            "node": "n8n - create workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set n8n existing workflows names": {
      "main": [
        [
          {
            "node": "Merge Github and n8n workflows - Keep only non existing workflows based on the name",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Github and n8n workflows - Keep only non existing workflows based on the name": {
      "main": [
        [
          {
            "node": "If workflow already exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals1": {
      "main": [
        [
          {
            "node": "GitHub - get all files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge globals and files",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Globals1",
            "type": "main",
            "index": 0
          },
          {
            "node": "n8n - get all workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-03T07:21:46.170Z",
  "id": "V2BIxJDmECgsrz0i",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Restore wf & cd",
  "nodes": [
    {
      "parameters": {},
      "id": "45ef5dfe-c831-4638-98af-52e90545fc48",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        1872,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
              "name": "repo.owner",
              "type": "string",
              "value": "hpwspmu-web"
            },
            {
              "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
              "name": "repo.name",
              "type": "string",
              "value": "credentials"
            },
            {
              "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
              "name": "repo.path",
              "type": "string",
              "value": "token"
            }
          ]
        },
        "options": {}
      },
      "id": "96d70ff5-5032-48cd-b0af-a4b3ef02a773",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        2112,
        304
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Edit this node 👇\nrepo.owner = id github count\nrepo.name = github repo name",
        "height": 100,
        "width": 270,
        "color": 4
      },
      "id": "d37cdfc6-e2df-499d-843d-422049a11a7a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repo.owner }}/{{ $json.repo.name }}/contents/{{ $json.repo.path }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "598caccf-bb15-49a4-ae0e-820f39c3bd0e",
      "name": "Get all files in given path",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2320,
        304
      ],
      "typeVersion": 4.2,
      "credentials": {
        "githubApi": {
          "id": "zPr0d4X43rST85W6",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "path",
        "options": {}
      },
      "id": "f8385834-d5a9-4235-901c-af9dd1226fa2",
      "name": "Split the result",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1872,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Globals').item.json.repo.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Globals').item.json.repo.name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Get all files in given path').item.json.path }}",
        "additionalParameters": {}
      },
      "id": "00ccf650-01ba-4777-b5d3-6fc3a760b171",
      "name": "Get file content from GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        2112,
        528
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "5728564b-f59a-490c-b6f1-7f4be50f0e12",
      "credentials": {
        "githubApi": {
          "id": "zPr0d4X43rST85W6",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "8b1018a9-3582-412f-9d48-9408b4e45cb1",
      "name": "Convert files to JSON",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        2320,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "credential",
        "name": "={{ $json.data.name }}",
        "credentialTypeName": "={{ $json.data.type }}",
        "data": "={{ JSON.stringify($json.data.data) }}",
        "requestOptions": {}
      },
      "id": "be2f4107-1af5-45ed-9032-7c97d1d3a36b",
      "name": "Restore n8n Credentials",
      "type": "n8n-nodes-base.n8n",
      "position": [
        2144,
        800
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "i8UVtCSQAdwNvdSD",
          "name": "n8n account for zalo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ad031296-4ac0-4087-bc35-7975a2cc25e6",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.data }}",
              "rightValue": ""
            },
            {
              "id": "ca912a57-6a4b-4b9a-be0e-37b69d3e4917",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.data.name }}",
              "rightValue": "n8n account"
            },
            {
              "id": "f7c08cc3-e796-4451-8b63-cf8fa8a7b530",
              "leftValue": "={{ $json.data.name }}",
              "rightValue": "GitHub account",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "3cb89572-2be8-4291-9d4e-f3f29c4ccba3",
      "name": "Check for skipped Credentials",
      "type": "n8n-nodes-base.if",
      "position": [
        1872,
        784
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "https://www.youtube.com/channel/UCIhrU-hkXylBKX8MRaN_2iA/\nBase on bangank36's & agentstudio's work",
        "height": 80,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2272,
        992
      ],
      "id": "be9df3bb-0674-4b3d-b77a-b0c4fb74c92a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# KHÔI PHỤC CREDENTIALS TỪ GITHUB",
        "height": 80,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1824,
        0
      ],
      "id": "91fe403f-e89d-4567-a15a-a93eee1bcdca",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "063d51c7-0b7a-48a4-82b3-76b370fc4265",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('Merge Github and n8n workflows - Keep only non existing workflows based on the name').item.json.name }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "e051768d-5e82-40ae-97ff-1104653ad33d",
      "name": "If workflow already exists",
      "type": "n8n-nodes-base.if",
      "position": [
        1152,
        352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6be8c184-8fb7-47a9-ad42-d0dc3db1eea4",
              "name": "name",
              "type": "string",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "38c51952-76bc-4231-80f2-451b15f3fc53",
      "name": "Set n8n existing workflows names",
      "type": "n8n-nodes-base.set",
      "position": [
        608,
        464
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{$node[\"Globals1\"].json[\"repo\"][\"owner\"]}}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{$node[\"Globals1\"].json[\"repo\"][\"name\"]}}"
        },
        "filePath": "={{$node[\"Globals1\"].json[\"repo\"][\"path\"]}}"
      },
      "id": "119b84f9-1c70-4125-8a9a-6521d62449bb",
      "name": "GitHub - get all files",
      "type": "n8n-nodes-base.github",
      "position": [
        0,
        128
      ],
      "typeVersion": 1,
      "webhookId": "58e87881-1bd0-41ee-a4c3-9cd684981342",
      "credentials": {
        "githubApi": {
          "id": "zPr0d4X43rST85W6",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "dd7a1f78-3dee-4f70-9e4f-6c26f320c82b",
      "name": "n8n - get all workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -224,
        464
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "i8UVtCSQAdwNvdSD",
          "name": "n8n account for zalo"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.name }}"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "84e63f14-c3a8-4984-8b9f-aa79ebba80fb",
      "name": "GitHub - get each file",
      "type": "n8n-nodes-base.github",
      "position": [
        432,
        240
      ],
      "typeVersion": 1,
      "webhookId": "2263f591-2168-4ca3-b0e6-1cc1204ebb2e",
      "credentials": {
        "githubApi": {
          "id": "zPr0d4X43rST85W6",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "714b0cfd-9f06-4e2f-b73d-30ef39dc40e3",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content.base64Decode() }}"
            },
            {
              "id": "6f48ed58-d55a-4ee4-8cf2-373941aaa341",
              "name": "name",
              "type": "string",
              "value": "={{ $json.name.replace(\".json\", \"\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2b7f4b8-63cd-4b5e-af84-7134959f87c3",
      "name": "Set name and content",
      "type": "n8n-nodes-base.set",
      "position": [
        624,
        240
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $('Set name and content').item.json.content }}",
        "requestOptions": {}
      },
      "id": "3e5121a9-7fce-480b-a1c6-36fd7bcdf19c",
      "name": "n8n - create workflow",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1472,
        320
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "i8UVtCSQAdwNvdSD",
          "name": "n8n account for zalo"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "d064a71c-04d5-478c-baa5-e0abadee5b53",
      "name": "Merge globals and files",
      "type": "n8n-nodes-base.merge",
      "position": [
        224,
        240
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "name",
              "field2": "name"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "id": "c8388d2c-6259-419d-a357-f2686a755050",
      "name": "Merge Github and n8n workflows - Keep only non existing workflows based on the name",
      "type": "n8n-nodes-base.merge",
      "position": [
        928,
        352
      ],
      "typeVersion": 2.1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "hpwspmu-web"
            },
            {
              "name": "repo.name",
              "value": "workflow"
            },
            {
              "name": "repo.path",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "89e7aa3f-73d8-4b82-a63d-15d21d50726e",
      "name": "Globals1",
      "type": "n8n-nodes-base.set",
      "position": [
        -224,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -608,
        368
      ],
      "id": "788ecfa8-049b-41d3-b10c-9be5cbbaad30",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "# KHÔI PHỤC WORKFLOW TỪ GITHUB",
        "height": 80,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7934b662-55ca-4b3b-bedd-b1ae1d393d10",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Edit this node 👇\nrepo.owner = id github count\nrepo.name = github repo name",
        "height": 100,
        "width": 310,
        "color": 4
      },
      "id": "3b9937de-8254-47f1-8560-89fc08fc0f74",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        144
      ],
      "typeVersion": 1,
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-03T07:21:46.175Z",
      "updatedAt": "2025-09-03T07:21:46.175Z",
      "role": "workflow:owner",
      "workflowId": "V2BIxJDmECgsrz0i",
      "projectId": "1qt5AgXQ1QuSOdsi"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-03T07:22:07.000Z",
  "versionId": "593f6e4b-992b-4466-987b-79310c7bf44c"
}